/* 
	Adjusments over Neptune
*/

.applogo .icon {
    margin-left: -18px;
    width: 36px;
}
.applogo .title {
    font-size: 2.7rem;
    line-height: 5.8rem;
}
main header p {
    margin-top: 12px;
}
main header a.tab {
    margin-top: 6px;;
    margin-right: 0;
}